<a href="https://colab.research.google.com/github/orom030/ML4AI/blob/main/%EB%8F%99%EB%B3%84_%EC%9D%B8%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 남구

In [ ]:
namgu = pd.read_excel('/content/drive/MyDrive/AIML_FINAL/남구_20201231.xls',sheet_name = '2.동별세대별')

In [ ]:
namguya = namgu[17:30]
namguya

In [ ]:
namguya

In [ ]:
namguya.columns = ['동 이름','1','동별 인구','3','4','5','6','7','8','9','10','11']
namguya.columns

In [ ]:
namguya = namguya.drop(['1','3','4','5','6','7','8','9','10','11'], axis=1)

In [ ]:
namguya['구 이름'] = '남구'

In [ ]:
namguya

# 달서구

In [ ]:
dalseo = pd.read_excel('/content/drive/MyDrive/AIML_FINAL/달서구_20211231.xlsx',sheet_name = 'Ⅲ-2 동별세대및인구')

In [ ]:
dalseo

In [ ]:
dalseoya = dalseo[17:40]
dalseoya.columns

In [ ]:
dalseoya.columns = [['동 이름','1','동별 인구','3','4','5','6','7','8','9','10','11','12','13','14','15','16']]

In [ ]:
dalseoya = dalseoya.drop(['1','3','4','5','6','7','8','9','10','11','12','13','14','15','16'], axis=1)

In [ ]:
dalseoya['구 이름'] = '달서구'

In [ ]:
dalseoya

In [ ]:
dalseoya.columns = ['동 이름','동별 인구','구 이름']

In [ ]:
dalseoya.columns

In [ ]:
dalseoya

달성군

In [ ]:
dalsung = pd.read_csv('/content/drive/MyDrive/AIML_FINAL/달성군_20180430.csv', encoding ='cp949')

In [ ]:
dalsung.columns =['동 이름', '세대수', '동별 인구', '전체남자수', '전체여자수', '내국인계', '내국인남자수', '내국인여자수',
       '외국인계', '외국인남자수', '외국인여자수']

In [ ]:
dalsungya = dalsung.drop(['세대수', '전체남자수', '전체여자수', '내국인계', '내국인남자수', '내국인여자수','외국인계', '외국인남자수', '외국인여자수'],axis=1)

In [ ]:
dalsungya['구 이름'] = '달성군'

In [ ]:
dalsungya = dalsungya.drop(dalsungya.index[0],axis=0)

In [ ]:
dalsungya

# 동구

In [ ]:
donggu = pd.read_excel('/content/drive/MyDrive/AIML_FINAL/동구_20180930.xls',sheet_name = '9월')

In [ ]:
dongguya = donggu[4:24]
dongguya

In [ ]:
dongguya.columns = ['동 이름','1','동별 인구','3','4','5','6']

In [ ]:
dongguya = dongguya.drop(['1','3','4','5','6'], axis=1)

In [ ]:
dongguya['구 이름'] = '동구'

In [ ]:
dongguya

# 북구

In [ ]:
bukgu = pd.read_csv('/content/drive/MyDrive/AIML_FINAL/북구_20201031.csv', encoding ='cp949')
bukgu

In [ ]:
bukgu.columns = ['동 이름', ' 통 ', ' 반 ', ' 세대수 ', '동별 인구', ' 남 ', ' 여 ', '전월대비세대증감','전월대비인구증감', '데이터기준일자']

In [ ]:
bukguya = bukgu.drop([' 통 ', ' 반 ', ' 세대수 ', ' 남 ', ' 여 ', '전월대비세대증감','전월대비인구증감', '데이터기준일자'], axis=1)

In [ ]:
bukguya['구 이름']='북구'

In [ ]:
bukguya

# 서구

In [ ]:
seogu = pd.read_csv('/content/drive/MyDrive/AIML_FINAL/서구_20211019.csv', encoding ='cp949')

In [ ]:
seogu

In [ ]:
seogu.columns =['동 이름', '세대수', '동별 인구', '인구수(남)', '인구수(여)', '통 수', '반 수', '19세이상','65세이상', '데이터기준일자']

In [ ]:
seoguya = seogu.drop(['세대수', '인구수(남)', '인구수(여)', '통 수', '반 수', '19세이상','65세이상', '데이터기준일자'],axis=1)

In [ ]:
seoguya['구 이름'] = '서구'

# 수성구

In [ ]:
suseong = pd.read_csv('/content/drive/MyDrive/AIML_FINAL/수성구_20201030.csv', encoding ='cp949')

In [ ]:
suseong

In [ ]:
suseong.columns =['동 이름', '세대수', '동별 인구', '남자 인구수(외국인 제외)', '여자 인구수(외국인 제외)',
       '전월 인구수', '증감', '통', '반', '외국인']

In [ ]:
suseongya = suseong.drop(['세대수', '남자 인구수(외국인 제외)', '여자 인구수(외국인 제외)',
       '전월 인구수', '증감', '통', '반', '외국인'], axis=1)

In [ ]:
suseongya['구 이름'] = '수성구'

In [ ]:
suseongya

In [ ]:
gu_sum = pd.concat([namguya, dalseoya, dalsungya, dongguya, bukguya, seoguya, suseongya])

In [ ]:
gu_sum.tail()

In [ ]:
gu_sum.columns

In [ ]:
gu_sum.to_csv('/content/drive/MyDrive/AIML_FINAL/gu_sum.csv',index=False)