<a href="https://colab.research.google.com/github/orom030/ML4AI/blob/main/%EC%9D%B8%EA%B5%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
import numpy as np
import pandas as pd
import warnings
import csv
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [ ]:
dg = pd.read_csv('/content/drive/MyDrive/AIML_FINAL/2019.6.30.기준 대구광역시 주민등록인구 현황.csv', encoding='cp949')

In [ ]:
dg.shape

In [ ]:
dg.head()

In [ ]:
dg.columns

In [ ]:
dg.행정구역

In [ ]:
dg.isnull().sum()

In [ ]:
dg

In [ ]:
dgT = dg.T

In [ ]:
dgT

In [ ]:
dgTNum = dgT.drop(dgT.index[0:4],axis=0)
dgTNum = dgTNum.drop(dgT.index[5:7],axis=0)
dgTNum = dgTNum.drop(dgT.index[8:10],axis=0)
dgTNum = dgTNum.drop(dgT.index[11:13],axis=0)
dgTNum = dgTNum.drop(dgT.index[14:16],axis=0)
dgTNum = dgTNum.drop(dgT.index[17:19],axis=0)
dgTNum = dgTNum.drop(dgT.index[20:22],axis=0)
dgTNum = dgTNum.drop(dgT.index[23:25],axis=0)
dgTNum = dgTNum.drop(dgT.index[26:28],axis=0)

In [ ]:
New = dgTNum.T
New

In [ ]:
dgTNum.columns

In [ ]:
dgTNum

In [ ]:
df2 = dgTNum.copy()

df2['총인구수'] = df2.loc[:].sum(axis = 1)
df2

In [ ]:
df3 = df2.div(df2['총인구수'], axis = 0)
df3.head()

In [ ]:
df3.T.sum()

In [ ]:
del df3['총인구수']

In [ ]:
df4 = df3.drop(df3.index[1:8],axis=0)
df4

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
df4.T.plot()
plt.show()